.idea
.atom
.vscode
.DS_Store
.sass-cache
.env
node_modules
guide
*.map
*.log
!.keep
!.gitkeep
/wp/*
!/wp/.htaccess
!/wp/wp-content/
/wp/wp-content/*
!/wp/wp-content/plugins/
!/wp/wp-content/languages/
/wp/wp-content/languages/*
!/wp/wp-content/languages/plugins/
/wp/wp-content/plugins/hello.php
/wp/wp-content/plugins/akismet/*
/wp/wp-content/plugins/hello.php
!/wp/wp-content/themes/
/wp/wp-content/themes/*
/wp/wp-content/themes/*/assets/