.idea
.sass-cache
.DS_Store
.env
node_modules
guide
*.map
!.keep
!.gitkeep
/wp/*
!/wp/wp-content/
/wp/wp-content/*
!/wp/wp-content/plugins/
!/wp/wp-content/languages/
/wp/wp-content/languages/*
!/wp/wp-content/languages/plugins/
/wp/wp-content/plugins/hello.php
/wp/wp-content/plugins/akismet/*
!/wp/wp-content/themes/
/wp/wp-content/themes/*
/wp/wp-content/themes/*/assets/
/wp/wp-content/themes/*/anticache.json
!/wp/wp-content/themes/lig/